        
        * {
            color: rgb(3, 111, 126);
        }
      
        h1 {
            color: blue;
        }
        h3 {
            color: rgb(231, 57, 57);
        }
        p {
            size: 17px;
            color: rgb(8, 48, 124);
        }

        .clase1{
            color: black;
        }

        #idtitulogrande {
            color: green;
        }

        a[href] {
            color: rgb(36, 90, 34);
        }

        a[href*=".ec"] {
            color: rgb(119, 64, 13);
        }
/*
        label:hover{
            color: grey;
            background-color: blue;
            border-radius: 6px;
            font-size: 30px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
*/